.home-section{
    padding: 80px 0;
}

.light-grey{
    background: rgba(0,0,0,.024);
}

.section-header {
    margin: 0 0 2rem;

    h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
}
  p {
    font-size: 16px;
    max-width: 36rem;
    margin: 0;
    }
}