<section class="home-section light-grey">
  <div class="container">
    <div class="section-header">
      <h2>Our Works</h2>
      <p>Description of the work - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias
        ab adipisci eius nisi placeat at.</p>
    </div>
    <div style="flex-flow: row nowrap; box-sizing: border-box; display: flex;">
      <div style="margin-right: 30px; flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/works8.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Description of the work - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci
              eius nisi placeat at.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
       <div style="margin-right: 30px; flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/works2.jfif" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Description of the work - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci
              eius nisi placeat at.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
       <div style="margin-right: 30px; flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/works3.jfif" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Description of the work - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci
              eius nisi placeat at.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>